In [3]:
SELECT COUNT(*) AS TotalGoals, Team FROM TEST1.DBO.GoalsMessi_WorldRecord_2012 GROUP BY Team order by 1 desc

TotalGoals,Team
79,Barcelona
12,Argentina

In [4]:
SELECT COUNT(*) AS TotalGoals, Competition FROM TEST1.DBO.GoalsMessi_WorldRecord_2012 GROUP BY Competition order by 1 desc

TotalGoals,Competition
59,Spanish League
13,Champions League
7,Friendly match
5,Qualifications
5,Spanish Cup
2,Spanish Super Cup

In [1]:
SELECT COUNT(*) AS TotalGoals, Mode FROM TEST1.DBO.GoalsMessi_WorldRecord_2012 GROUP BY Mode order by 1 desc

TotalGoals,Mode
59,Left
14,Penalty
8,Right
7,Free kick
3,Head

In [2]:
SELECT COUNT(*) AS TotalGoals, [Date] FROM TEST1.DBO.GoalsMessi_WorldRecord_2012 GROUP BY  [Date] order by 1 desc

TotalGoals,Date
6,2012-05-02
5,2012-03-07
4,2012-02-19
4,2012-05-05
3,2012-03-20
3,2012-06-09
3,2012-10-20
3,2012-02-29
2,2012-10-27
2,2012-09-15
2,2012-09-19
2,2012-10-07
2,2012-10-12
2,2012-04-14
2,2012-04-29
2,2012-08-19
2,2012-08-26
2,2012-11-11
2,2012-11-17
2,2012-11-20
2,2012-11-25
2,2012-12-01
2,2012-12-09
2,2012-12-12
2,2012-12-16
2,2012-04-03
2,2012-04-07
2,2012-01-04
2,2012-01-15
2,2012-02-11
1,2012-02-14
1,2012-02-04
1,2012-02-26
1,2012-03-17
1,2012-04-10
1,2012-03-24
1,2012-03-31
1,2012-05-25
1,2012-06-02
1,2012-12-22
1,2012-08-29
1,2012-09-07
1,2012-08-23
1,2012-08-15
1,2012-10-16
1,2012-11-07

In [3]:
SELECT COUNT(*) AS TotalGoals, [Opponent] FROM TEST1.DBO.GoalsMessi_WorldRecord_2012 GROUP BY  [Opponent] order by 1 desc

TotalGoals,Opponent
6,Bayer Leverkusen
6,M�laga
4,Osasuna
4,Spartak Mosc�
4,Rayo Vallecano
4,Real Madrid
4,Valencia
4,Zaragoza
4,Espanyol
4,Levante
3,Mallorca
3,Getafe
3,Granada
3,Deportivo La Coru�a
3,Brasil
3,Atl�tico Madrid
3,Real Sociedad
3,Switzerland
2,Uruguay
2,Racing de Santander
2,Cordoba
2,Belis
2,Betis
2,Athletic
2,Athletic Bilbao
2,Milan
1,Ecuador
1,Germany
1,Celtic
1,Chile
1,Valladolid
1,Paraguay
1,Sevilla